
/* Blog Page CSS */
body{
    color: white;
}

/* Header Section CSS */

.blog-header-container{
    text-align: center;
    color: white;
    margin: 20px;
}

/* Header Section CSS */

/* Main Section CSS */

.main-container{
    width: 70%;
    margin: 0 auto;
}

.blog-card-section{
    border: 1px solid wheat;
    padding: 10px 20px;
}

.icon{
    margin: 0 10px;
    font-size: 20px;
}

.blog-title{
    margin: 10px 0;
}

/* Main Section CSS */
  
  /* Blog Page CSS */